* 
{
	box-sizing: border-box;
  padding: 1px;
}
header{
  font-size: 80px;
  font-family: Helvetica;
  margin: 60px 0px 0px 200px;
  color: #135A11;
}


/*This is my background, margin & padding is for info inside background*/
body {
   margin: 20px;
   padding: 10px;
   background-image: url("../images/Stellainpasture2.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   font-size: 16px;
}

 /*This is my header color*/
div#topbar{
	background:linear-gradient(#14CAB4, #7DF553);
	height:90px;
}
/*This is header text to the right*/
div#topbar > #logo{
	float:right;
	width:320px;
	height:35px;
	margin:15px 40px 0px 20px;
	font-size:18px;
	color:#999;

}
/*This keeps all my shit from running of the screen*/
div#topbar > #sections_panel > div{
	background:#333;
	padding:10px;
	height:200px;
	margin:px;
	color:#FC0;
}

img {
    border: 3px solid #ddd;
    border-radius: 10px;
    padding: 1px;
    max-width: 150px;
    margin: -55px -80px 0px 135px;
}

h1 {
	font-family: 'Helvetica';
	font-size: 60px;
	padding-top: 5px;
	margin: 0px 0px 0px 50px;
	color: #135A11;
}
h2 {
  font-size: 20px;
  color: #135A11;
  margin: 10px -5px 10px 29px;
}
h3 {
  font-size: 20px;
  color: #135A11;
  margin: -60px 0px 0px 350px;

}

h5 {
  font-size: 20px;
  padding-top: 10px;
  margin: -30px 30px 0px 120px;
  /*top bottom left right*/
  color: #135A11;
 }
 h6 {
  font-size: 14px;
  padding-top: 10px;
  margin: -48px 20px 0px 450px;
  /*top bottom left right*/
  color: #135A11;
}

/*This is my cool dropdown button*/
.dropbtn {
    background-color: #1F921A ;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #A5ECE4;
    color: #1F921A;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E4FFFC;
    min-width: 125px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*This is the flex container on my projects page*/
.flex-container> div  {
  background-color: #C1E7FF;
  margin: 1px;
  margin-right: 50%;
  max-width: 55vw;
  padding: 1px;
  margin: 0px 0px 5px 5px;
       /*drops the bottom - right - padding between grids - left*/
}
/*This aligns my text*/
.box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

/*I need this for my footer*/
}

html, 
.wrapper { 
  margin-bottom: 1px;
}

.footer,
.push {
  height: 5px;
}

footer{
  color: white;
  font-size: 20px;
}

article {
  margin: 20px -5px 20px 20px;
  font-size: 20px;
}
